streamlit>=1.41.0
pandas>=2.3.0
numpy>=2.1.0
ydata-profiling>=4.5.1
scikit-learn>=1.5.0
imbalanced-learn>=0.14.0
explainerdashboard==0.4.0
shap>=0.48.0
lime==0.2.0.0
matplotlib>=3.10.0
seaborn>=0.13.2
openpyxl>=3.1.3
xlsxwriter>=3.2.0
pathlib2>=2.3.7.post1
joblib>=1.5.0
plotly>=6.3.0
