streamlit>=1.25.0
pandas>=2.0
numpy>=1.23
scikit-learn>=1.2
imbalanced-learn>=0.10
ydata-profiling>=4.2
explainerdashboard>=0.4.26
shap>=0.41
matplotlib>=3.5
openpyxl>=3.0
streamlit-pandas-profiling>=0.2.0
